<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hily</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>tr</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HilyAESIV</key>
	<string>$(HILY_AES_IV)</string>
	<key>HilyAESKey</key>
	<string>$(HILY_AES_KEY)</string>
	<key>HilyAPIHost</key>
	<string>$(HILY_API_HOST)</string>
	<key>HilyAgoraAppID</key>
	<string>$(HILY_AGORA_APP_ID)</string>
	<key>HilyAppID</key>
	<string>$(HILY_APP_ID)</string>
	<key>HilyAppVersion</key>
	<string>$(HILY_APP_VERSION)</string>
	<key>HilyNIMAppKey</key>
	<string>$(HILY_NIM_APP_KEY)</string>
	<key>HilyNotificationYxAccId</key>
	<string>$(HILY_NOTIFICATION_YX_ACC_ID)</string>
	<key>HilyOcpApimKey</key>
	<string>$(HILY_OCP_APIM_KEY)</string>
	<key>HilySAPIAESIV</key>
	<string>$(HILY_SAPI_AES_IV)</string>
	<key>HilySAPIAESKey</key>
	<string>$(HILY_SAPI_AES_KEY)</string>
	<key>HilySAPIHost</key>
	<string>$(HILY_SAPI_HOST)</string>
	<key>HilySocketHost</key>
	<string>$(HILY_SOCKET_HOST)</string>
	<key>HilyThinkingDataAppID</key>
	<string>$(HILY_THINKING_DATA_APP_ID)</string>
	<key>HilyThinkingDataServerURL</key>
	<string>$(HILY_THINKING_DATA_SERVER_URL)</string>
	<key>HilyWSAESKey</key>
	<string>$(HILY_WS_AES_KEY)</string>
	<key>HilyWebFeatureBaseURL</key>
	<string>$(HILY_WEB_FEATURE_BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used for beauty preview, live streaming, and withdrawal identity verification</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for real-time audio/video calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to your photo library is required to upload your avatar and profile photos during registration.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
